body {
  // background-color: $baby-pink;
  background: linear-gradient(90deg, $unbleached-silk, $baby-pink)
}

h1, .session-title {
  text-align: center;
  font-family: $pixel;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 0.8em;
  line-height: 1.4em;
}

h3 {
  font-family: $sans-serif;
}

