main {
  width: 80vw;
  margin: 10px auto;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-mid {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 45vw;
  border: 1px solid orange;
}

.title-right {
  width: 20vw;
  border: 1px solid purple;
}

.main-canvas {
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

#page-title {
  margin-top: 30px;
}